.bg-theme {
    background-color: #29B1CC;
}

* {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;

}

body {
    overflow: hidden;
}

.text-white {
    color: #fff !important;
}

.bg-light {
    background: #e5e5e5 !important
}

.top-header {
    padding: 20px 40px;
    height: 101px;
}

.text-dark {
    color: #000 !important;
}

.sidebar {
    padding-top: 40px;
    padding-left: 40px;
    height: calc(100vh - 110px);
}

.main-area {
    height: calc(100vh - 110px);
    overflow: auto;
}

.list-style-none {
    list-style: none;
}

li.year-item {
    padding: 7px 0px 7px 10px;
    cursor: pointer;
}

.active {
    background: teal;
    color: #fff;
}

.main-area {
    padding-top: 40px;
    max-width: 100%;
}

.r-0 {
    border-radius: 0px;
}

.mr-2 {
    margin-right: 10px;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}
